<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>/projects/dashboard.xhtml</welcome-file>
    </welcome-file-list>
    
    <filter>
        <filter-name>HttpContextResponseProvider</filter-name>
        <filter-class>com.cashflow.frontend.support.httpcontext.HttpContextResponseProvider</filter-class>
    </filter>
    
    <filter>
        <filter-name>CookieService</filter-name>
        <filter-class>com.anosym.cookie.CookieService</filter-class>
    </filter>
    
    <filter>
        <filter-name>RequestInitializationInterceptor</filter-name>
        <filter-class>com.cashflow.frontend.support.initialization.RequestInitializationInterceptor</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>HttpContextResponseProvider</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>CookieService</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>RequestInitializationInterceptor</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
   
    <!-- Auto scan REST service -->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>
 
    <!-- this need same with resteasy servlet url-pattern -->
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>
 
    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>
